@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Set your brand colors
$purple: #556ef7;
$blue-king: #0f5ffa;
$grey-blue: #56606f;
$grey-lite: #d0d1cd;
$sky: #E2F2FD;
$sky2: #DBEFFC;
$lite-orange: #FFE9DD;
$deep-orange: #ED915E;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $grey-blue;
$grey-light: $grey-lite;
$primary: $purple;
$link: $blue-king;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $sky;
$control-border-width: 2px;

$input-shadow: none;

$container-main: 1200px;

// ---
$font-main: 'Nunito', Helvetica, Arial;

$font-text-size: 16px;
$font-text-size-sm: 12px;
$font-text-size-md: 18px;
$font-text-size-lg: 20px;


//---- Bulma Variables -----

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 64px !default;

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;

// 960px container + 4rem
$desktop: 960px + 2 * $gap !default;


$variable-columns: true !default;
