html {
  background-color: $clearBg;
}

.lara {
  &Circle {
    background-color: $lite-orange;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4% auto;
    height: 18vh;
    width: 18vh;
    p {
      font-size: 40px;
      font-weight: bold;
      color: $deep-orange;
      span {
        font-weight: normal;
      }
    }
  }
  &Container {
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% auto;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
    li {
      background-color: $clearBg;
      box-shadow: 0 4px 8px rgba(10, 10, 10, 0.2), 0 0 0 0px rgba(10, 10, 10, 0.8);
      border-radius: 4px;
      margin: 4% 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 30%;
      position: relative;
      &:hover {
        box-shadow: 0 1px 1px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
      }
      a {
        padding: 2%;
        width: 100%;
      }
    }
  }

  &Content {
    background-color: $clearBg;
    padding-top: 4%;
    min-height: 100vh;
  }

  &More {
    background-color: $grey-lite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: relative;
    &:hover {
      background-color: $grey-blue;
      color: $grey-lite;
      cursor: pointer;
    }
    &:hover &-container {
      display: flex;
    }
    &-container {
      background-color: $clearBg;
      border-radius: 4px;
      border: 1px solid $grey-lite;
      padding: 16%;
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: auto;
      height: auto;
      position: absolute;
      left: -158px;
      top: -51px;
      z-index: 200;
    }
  }

  &Top {
    background-color: $clearBg;
    border-bottom: 1px solid $grey-lite;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 100;
  }
}

//BS

hr {
  background-color: #e4e9eb;
}

.container {
  background-color: $sky;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.section {
  padding: 0;
}

.table {
  background-color: transparent;
  &-wrapper {
    padding: 0;
    border-radius: 4px;
    display: block;
    max-width: 100%;
    overflow: scroll;
  }
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;

  thead tr {
    background-color: transparent;
  }

  tr {
    background-color: $clearBg;
    border-bottom: 8px solid $sky;
    border-radius: 4px;
    padding: 16px 0;

    td {
      vertical-align: middle;
      padding: 16px 16px;
      text-align: center;
      &.right {
        text-align: right;
      }
    }
  }
}

.columns.profile {
  flex-wrap: wrap;
}

.is-vcentered.hv {
  height: 100vh;
}

.animated {
  animation: fade-in-down 0.4s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.ex {
  @include icon-set("fb", #3b5998);
  -webkit-background-size: 17px 17px;
  background-size: 17px 17px;
  background-position: center;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

a.navbar {
  &-item {
    font-size: 20px;
    &.is-active {
      color: $purple;
      font-weight: bold;
    }
  }
}

.burger {
  display: none;
}

@media screen and (max-width: 1199px) {
  .laraBar.open {
    display: flex;
    transition: transform 0.5s;
    transform: translate(0px, 0);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: beige;
    width: 240px;
  }

  .burger {
    display: block;
  }

  .laraBar {
    display: none;
    transition: transform 0.5s;
    transform: translate(-250px, 0);
  }
}
