.container {
  margin: 0 auto;
  position: relative;
  max-width: $container-main;
  width: calc(100% - 60px);

  &.wide {
    max-width: 100%;

    @include desktop {
      max-width: 93%;
    }
  }

  @include desktop {
    width: calc(100% - 70px) !important;
  }

  @include tablet {
    width: calc(100% - 50px) !important;
  }

  @include mobile {
    width: calc(100% - 36px) !important;
  }

  &.full {
    width: 100%;
  }
}

.section {
    padding: 0;
}

.table {
  &-wrapper {
    display: block;
    max-width: 100%;
    overflow: scroll;
  }
}

.columns.profile {
  flex-wrap: wrap;
}