html {
  background-color: $sky;
}

.lara {
  &Circle {
    background-color: $lite-orange;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4% auto;
    height: 18vh;
    width: 18vh;
    p {
      font-size: 40px;
      font-weight: bold;
      color: $deep-orange;
      span {
        font-weight: normal;
      }
    }
  }
  &Container {
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% auto;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
    li {
      background-color: white;
      box-shadow: 0 4px 8px rgba(10, 10, 10, 0.2), 0 0 0 0px rgba(10, 10, 10, 0.8);
      border-radius: 4px;
      margin: 4% 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 30%;
      position: relative;
      &:hover {
        box-shadow: 0 1px 1px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
      }
      a {
        padding: 2%;
        width: 100%;
      }
    }
  }

  &Content {
    background-color: $sky;
    padding-top: 4%;
    min-height: 100vh;
  }

  &Side {
    background-color: white;
    padding-right: 0;
  }
}

//BS

hr {
  background-color: #e4e9eb;
}

.box {
  box-shadow: 0 0 0 0;
}

.container {
  background-color: $sky;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: inherit;
}

.section {
  padding: 0;
}

.table {
  background-color: transparent;
  &-wrapper {
    padding: 0;
    border-radius: 4px;
    display: block;
    max-width: 100%;
    overflow: scroll;
  }
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;

  thead tr {
    background-color: transparent;
  }

  tr {
    background-color: white;
    border-bottom: 8px solid $sky;
    border-radius: 4px;
    padding: 16px 0;

    td {
      vertical-align: middle;
      padding: 16px 16px;
      text-align: center;
      &.right {
        text-align: right;
      }
    }
  }
}

.columns.profile {
  flex-wrap: wrap;
}

.is-vcentered.hv {
  height: 100vh;
}

.animated {
  animation: fade-in-down 0.4s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.ex {
    @include icon-set('fb', #3B5998);
    -webkit-background-size: 17px 17px;
    background-size: 17px 17px;
    background-position: center;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu {
  padding: 8% 0 8% 8%;
  height: 100vh;
  &-list {
    padding: 4% 0;
    a {
      font-size: $font-text-size-md;
      &:hover {
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
      }
      &.is-active {
        background-color: $sky;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
        color: $link;
        font-weight: bold;
      }
    }
  }
  &-label {
    font-size: $font-text-size-lg;
    font-weight: bold;
  }
}

.burger {
  display: none;
}

@media screen and (max-width: 1199px) {
  .laraBar.open {
    display: flex;
    transition: transform 0.5s;
    transform: translate(0px, 0);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: beige;
    width: 240px;
  }

  .burger {
    display: block;
  }

  .laraBar {
    display: none;
    transition: transform 0.5s;
    transform: translate(-250px, 0);
  }
}
